body {
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

label {
  display: block;
}

span {
  display: block;
  color: tomato;
  font-size: x-small;
}

input {
  margin-bottom: .3rem;
}
